/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
.rightdiv{
  position: fixed;
  top:0px;
  bottom: 0px;
  right:0px;
  width: 240px;
  background-color: rgb(243,235,233);
}
.leftdiv{
  position: fixed;
  top:0px;
  bottom: 0px;
  left:0px;
  width: 240px;
    background-color: rgb(243,235,233);
}
.middiv{
  height: 100vh;
  padding-right: 240px;
  padding-left: 240px;
}

/* Write all remaining styles here */