/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 ;
	display: flex;
}

/* Write all remaining styles here */
hr{
	margin: 4px 0px;
}
h1{
	color: gray;
	margin: 0px;
}

.main{
width: 700px;

margin: 20px;

}
.pic-1{
	width: 650px;
	height: 400px;
	margin: 0;
}
.pic1{
	width: 644px;
	height: 400px;
	border: 4px solid gray;
}
.left-right{
	display: inline;
	margin: 0;
	width: 15%;

	background: red;
}
.part3{
	display: flex;
}
.box1,
.box2,
.box3,
.box4{
	width: 150px;
	height: 100px;
	margin: 5px;
}
.logo1,
.logo2,
.logo3,
.logo4{
	width: 150px;
	height: 100px;
	border: 4px solid gray;
}
footer{
	margin-top: 15px;
 	font-size: 10px;
	text-align: right;
}
